annotated-types
anyio
blinker
certifi
charset-normalizer
click
distro
faiss-cpu
filelock
Flask
Flask-Cors
Flask-SQLAlchemy
fsspec
groq
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pdf2image
pillow
pydantic
pydantic_core
PyMuPDF
pytesseract
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sniffio
SQLAlchemy
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
